@import "variables";

.img {
    background-image: url('./images/rxslvkontroll72.png');
    width: 72px;
    height: 72px;

    img {
        padding: 16%;
        width: 100%;
        background-color: fade-out($addnode, 0.66);
    }
}
